{% extends 'crud/list.html' %}
{% block list_columns %}
<td class="px-4 py-3 fw-bold">{{ item.tracking_id }}</td>
<td class="px-4 py-3"><a href="{% url 'package_list' %}" class="text-decoration-none">#{{ item.package.package_id }}</a></td>
<td class="px-4 py-3">{{ item.station|default:"-" }}</td>
<td class="px-4 py-3">{{ item.current_location }}</td>
<td class="px-4 py-3">
    <span class="badge bg-secondary">{{ item.status_update }}</span>
</td>
<td class="px-4 py-3">{{ item.timestamp|date:"M d, Y H:i" }}</td>
{% endblock %}
